/*  for Application wide design */

#root {
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: bisque;
    box-shadow: rgb(37, 97, 149) 2px 3px;
}

button:hover,
button:active {
    box-shadow: 0;
}
